{% include 'web/base.html' %}

{% block noteblock %}
<h2 class='offset-2 mt-3 fw-bolder text-dark'>Contact</h2> <hr class='border border-1 border-secondary'>
<div class="col-sm-6 offset-2">
<form action="" method='POST'> {% csrf_token %}
    <div class="form-group">
      <label for="formGroupExampleInput">Name:</label>
      <input type="text" class="form-control border-dark border-1 alert-info" id="formGroupExampleInput">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Email:</label>
      <input type="email" class="form-control border-dark border-1 alert-info" id="formGroupExampleInput2" >
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Message:</label>
        <input type="textarea" class="form-control border-dark border-1 alert-info" id="formGroupExampleInput2">
      </div>

      <input type="submit" value="Submit" class='btn btn-info mt-2'>
      <a href={% url 'homepage' %} class='btn btn-danger mt-2 ms-2'>Cancel</a>
  </form>
</div>
  {% endblock noteblock %}